@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins";
}
.notice-nodorm{
    font-size: 30px;
    color: #4d514e;
}
.button-add-dorm a{
    text-decoration: none;
    color: #e2eae4;
}
.button-add-dorm{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00B98E;
    width: 100px;
    height: 50px;
    border-radius: 5px;
}
/* Style the open button */
.open-button {
    background-color: #317a41;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 100px;
    left: 400px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 20px;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type="text"], .form-container input[type="email"], .form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus, .form-container input[type="email"]:focus, .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Style the submit button */
.form-container .btn {
    background-color: #317a41;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    border-radius: 5px;
}

/* Style the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add a hover effect for buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 0.8;
}

.list-dorm-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.dorm-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 100%;
    width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.dorm-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

 .dorm-container p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.dorm-container p span {
    font-weight: normal;
    color: #555;
}
.dorm-container{
    position: relative;
}
.dorm-container .box-name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    left: 0;
    background: #00B98E;
    height: 25px;
    width: 150px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.dorm-container .box-name h2 {
    font-size: 18px;
    color: #fafafa;
    font-weight: bold;
}
.dorm-container .btn-manage{
    display: block;
    text-align: center;
    background: #48b7c9;
    width: 100px;
    height: fit-content;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;

}
.title-dorm{
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    color: #006f55;
}
