<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QALIDO-HOMEPAGE</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/images/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/images/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/images/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/images/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/images/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/images/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/images/manifest.json}">
    <link rel="shortcut icon" th:href="@{/images/favicon-96x96.png}" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"
          rel="stylesheet">
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Template Stylesheet -->
    <link th:href="@{/css/homePage.css}" rel="stylesheet">
    <style>
        .section-content {
            display: none;
        }

        .section-content.active {
            display: block;
        }
    </style>
</head>
<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img th:src="@{/images/icon-apartment.png}" alt="logo">
             </span>
            <div class="text header-text">
                <span class="name">QALIDO</span><br>
                <span class="profession">Manage your dormitory</span>
            </div>
        </div>
        <i class='bx bx-chevron-right toggle'></i>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="search" placeholder="Search...">
                </li>
                <ul class="menu-links">

                    <li class="nav-link">
                        <a href="#" onclick="showSection('dashboard', '/admin/dashboard')">
                            <i class='bx bx-home icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#" onclick="showSection('manage', '/admin/manage')">
                            <i class='bx bx-bar-chart-alt-2 icon'></i>
                            <span class="text nav-text">Manage</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#" onclick="showSection('service', '/admin/service')">
                            <i class='bx bx-command icon'></i>
                            <span class="text nav-text">Service</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#" onclick="showSection('payment', '/admin/payment')">
                            <i class='bx bx-wallet icon'></i>
                            <span class="text nav-text">Payment</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#" onclick="showSection('information', '/admin/infor')">
                            <i class='bx bx-info-circle icon'></i>
                            <span class="text nav-text">Information</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="nav-link">
                    <a th:href="@{/auth/logout}">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Log out</span>
                    </a>
                </li>
            </div>
        </div>
    </header>
</nav>
<section class="section-content" id="dashboard">
   <iframe th:src="@{/admin/dashboard}"></iframe>
</section>
<section class="section-content" id="manage">
  <iframe th:src="@{/admin/manage}"></iframe>
</section>
<section class="section-content" id="service">
   <iframe th:src="@{/admin/service}"></iframe>
</section>
<section class="section-content" id="payment">
  <iframe th:src="@{/admin/payment}"></iframe>
</section>
<section class="section-content" id="information">
  <iframe th:src="@{/admin/infor}"></iframe>
</section>

<script th:src="@{/js/homePage.js}"></script>

</body>
</html>
