<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script th:src="@{https://unpkg.com/boxicons@2.1.4/dist/boxicons.js}"></script>
    <link th:href='@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/manage.css}">
</head>
<body>
<div th:if="${noticedorm}">
    <p class="notice-nodorm" th:text="${noticedorm}"></p>
    <button id="openPopupBtn" class="open-button">Add dorm</button>

    <!-- The Popup Form -->
    <div id="popupForm" class="form-popup" th:object="${dormCreateRequest}">
        <form action="/dorm/create" method="post" class="form-container">
            <h2>Contact Us</h2>

            <label><b>Name</b></label>
            <input type="text" placeholder="Enter Your Dorm Name" name="name" th:field="*{name}" required>

            <label><b>Number Of Room</b></label>
            <input type="text" placeholder="Enter Number of Room" th:field="*{numberRoom}" required>

            <label><b>Address</b></label>
            <textarea placeholder="Enter Your Dorm Address" th:field="*{address}" required></textarea>

            <button type="submit" class="btn">Submit</button>
            <button type="button" class="btn cancel" id="closePopupBtn">Close</button>
        </form>
    </div>
</div>
<div class="dorm-dashboard" th:if="${listDorm}">
    <h2 class="title-dorm">Dorm Manage</h2>
    <div class="list-dorm-container" th:each="dorm: ${listDorm}">

        <div class="dorm-container">
            <div class="box-name">
                <h2><i class='bx bx-home'></i>&nbsp;<span th:text="${dorm.name}"></span></h2><br>
            </div>
            <div class="dorm-info">
                <p>Number room: <span th:text="${dorm.numberRoom}"></span></p>
                <p>Address: <span th:text="${dorm.address}"></span></p>
            </div>
            <div class="btn-container">
                <a class="btn-manage" th:href="@{/dorm/manage/{id}(id=${dorm.id})}">Manage</a>
                <a class="btn-delete" th:href="@{/dorm/delete/{id}(id = ${dorm.id})}" onsubmit="return confirmDelete()">Delete</a>
            </div>

        </div>
        <br>
    </div>
    <button id="openPopupBtn1" class="open-button">Add dorm</button>

    <!-- The Popup Form -->
    <div id="popupForm1" class="form-popup" th:object="${dormCreateRequest}">
        <form th:action="@{/dorm/create}" method="post" class="form-container">
            <h2>Contact Us</h2>

            <label><b>Name</b></label>
            <input type="text" placeholder="Enter Your Dorm Name" name="name" th:field="*{name}" required>

            <label><b>Number Of Room</b></label>
            <input type="text" placeholder="Enter Number of Room" th:field="*{numberRoom}" required>

            <label><b>Address</b></label>
            <textarea placeholder="Enter Your Dorm Address" th:field="*{address}" required></textarea>

            <button type="submit" class="btn">Submit</button>
            <button type="button" class="btn cancel" id="closePopupBtn1">Close</button>
        </form>
    </div>
</div>
<script th:src="@{/js/manage.js}"></script>
</body>
</html>